@import "/src/variables.scss";

.card {
	height: 300px;

	.card-title {
		color: #232B4B;
	}

	.card-content {
		font-family: $font;
		font-size: $cardFontSize;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}

	.card-button {
		position: absolute;
		bottom: 15px;
	}
}

.bgc-0 {
	background-color: $color_0 !important;
}

.bgc-1 {
	background-color: $color_1 !important;
}

.bgc-2 {
	background-color: $color_2 !important;
}

.bgc-3 {
	background-color: $color_3 !important;
}

.bgc-4 {
	background-color: $color_4 !important;
}

.bgc-5 {
	background-color: $color_5 !important;
}

.bgc-6 {
	background-color: $color_6 !important;
}

.bgc-7 {
	background-color: $color_7 !important;
}

.bgc-8 {
	background-color: $color_8 !important;
}

.bgc-9 {
	background-color: $color_9 !important;
}
