$header: #963643;

$color_0: #ffb3b3;
$color_1: #ffbf00;
$color_2: #00ff80;
$color_3: #00bfff;
$color_4: #ffe436;
$color_5: #ffe48e;
$color_6: #32ffff;
$color_7: #ffbb0e;
$color_8: #b2ff2b;
$color_9: #ff8cff;
